description: Sofle split keyboard dongle configuration
url: https://github.com/stelmakhdigital/zmk_sofle_niceview
build:
  - name: sofle-dongle
    board: pro_micro
    shield: nice_view_adapter nice_view
    cmake-args:
      - -DCONFIG_ZMK_SPLIT_ROLE_CENTRAL=y
      - -DCONFIG_ZMK_SPLIT=y
    artifact-name: sofle_dongle
    kconfig: config/sofle_dongle.conf
    keymap: config/sofle_dongle.keymap